:root {
  --primaryGreen: #cdeae1;
  --secondaryGreen: #8dd3bb;
  --BlackishGreen: #112211;
  --btn-bg-green-1: #9be0c8;
  --btn-bg-green-2: #a5ebd3;
  --btn-bg-green-3: #82cbb2;
  --neutral-gray2: #d2d1d3;
  --neutral-gray5: #8f8c91;
  --primary-dark: #79747e;
  --primaryWhite: #ffffff;
  --salmon: #fd736e;
}
